:root {
    --colour-selected: #ffc107;
    --colour-selectedTapes: #0dcaf0;
    --colour-selectedFavs: #ff2f92;
}


body {
    background-color: #212121;
    /*
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    */
}

.btn-dark-yellow,.btn-dark-yellow:focus, .btn-dark-yellow:active, .btn-dark-yellow.active {
    color: var(--colour-selected,var(--colour-selected,#ffc107));
    background-color: #0c0c0c;
    border-color: #0c0c0c;
}

.btn-tapes-list,.btn-tapes-list:focus, .btn-tapes-list:active, .btn-tapes-list:hover, .btn-tapes-list.active {
    margin-left: auto;
    margin-right: auto;
    min-height: 32px; !important;
    color: var(--colour-selectedTapes,#0dcaf0); !important;
    border-color: var(--colour-selectedTapes,#0dcaf0); !important;
}

.cssPointerEventsAll {
    cursor: pointer;
    pointer-events: all;
}

.form-check-input:checked {
    background-color: var(--colour-selected,#ffc107);
    border-color: var(--colour-selected,#ffc107);
}

.cssDivThumbName {
    font-family: "Trebuchet MS",sans-serif;
    font-size: small;
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* used to wrap thumbnails inside div-thumbnailsouter */
.cssDivThumbsInner {
    width: 100%;
    max-width: 100%;
}


.cssIndexYearHeader {
    font-family: "Trebuchet MS",sans-serif;
    overflow: hidden;
    width: 100%;
}

.cssIndexYearHeader + .cssIndexYearHeader {
    display: none;
}

.cssIndexYearHeader, .cssIndexYearHeaderTapes {
    width: 100%;
    padding: 2px 0;
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: black;
    pointer-events: none;
    cursor: auto;
    border-radius: 2px;
}
.cssIndexYearHeader {
    background-color: #c99804;
}
.cssIndexYearHeaderTapes {
    background-color: var(--colour-selectedTapes,#0dcaf0);
}

.cssIndexRow {
    font-size: medium;
    text-align: left;
    color: whitesmoke;
    pointer-events: all;
    cursor: pointer;
    line-height: 1;
    padding: 10px 6px;
    border-radius: 4px;
}
.cssBanding:nth-child(even){
    background:#313131;
}

.cssParaOdd {
    background-color: #212121;!important;
}
.cssParaEven {
    background-color: #313131;!important;
}



.cssDivIndexSearch {
    background-color: #212121;
    color: whitesmoke;
    width: 100%;
    padding-bottom: 4px;
}

.cssSwitchAutoplay {
    color: var(--colour-selected,#ffc107);
}
.cssFavsMessage {
    color: grey;
    font-family: "Trebuchet MS", sans-serif;
    font-size: small;
    line-height: 1;
    text-align: justify;
    padding-top: 6px;
}
/* *** Initial settings for PHONE PORTRAIT *** */
.cssColVideo {
    background-color: #0c0c0c;
}
.cssVideoBottomDiv {
    /*max-height: 21px;*/
    padding-bottom: 0;
    padding-top: 4px;
}

.cssDivYears {
    overflow-y: auto;
    overflow-x: hidden;
}
.cssYearBtn {
    cursor: pointer;
    /*pointer-events: all;*/
    font-family: "Trebuchet MS",sans-serif;
    padding: 2px 4px 0 4px;
    margin: 0;
    border-radius: 4px;
    letter-spacing: 0.0rem;
    font-size: medium;
    min-height: 30px;
}

.cssYearBtnFavs {
    min-width: 3.5rem;
    text-align: center;
}

.cssThumbnailImageDiv {
    cursor: pointer;
    pointer-events: all;
    width: 30%;
    max-width: 31%;
    margin: 1px;
    --bs-aspect-ratio: 76%;
}

.cssImgDivNoImg {
    background-color: yellow;
    overflow-y: clip;
    color: whitesmoke;
    font-size: small;
    border: whitesmoke solid 1px;
}

.cssThumbnailImg {
    pointer-events: none;
}

.cssDivChapterName {
    color: whitesmoke; /* var(--colour-selected,#ffc107);*/
    background-color: rgba(33,33,33,0.8);
    font-family: "Trebuchet MS",sans-serif;
    font-size: medium;
    font-style: italic;
    text-align: center;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    pointer-events: none;
    height: auto;
}
.cssTapeTitleText {
    color: var(--colour-selectedTapes,#0dcaf0);
}
.cssInfoDivTapesChapters {
    color: var(--colour-selectedTapes,#0dcaf0);
    font-family: "Trebuchet MS",sans-serif;
    font-size: small;
    font-style: italic;
    text-align: center;
}
.cssColThumbnails {
    /* gets its height set specifically */
    overflow-y: hidden;
}
.cssDivThumbnails {
    /* dont set its height so it can flex-shrink-1 to bunch thumbs */
    cursor: auto;
    overflow-y: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.cssDivYearSelect {
    /*max-height: none;*/
    /*overflow: hidden;*/
    /*padding-top: 6px;*/
}
.cssYearSelected {
    background-color: var(--colour-selected,#ffc107);
    color: black;
}
.cssYearSelectedTapes {
    background-color: var(--colour-selectedTapes,#0dcaf0); !important;
}
.cssYearSelectedFavs {
    background-color: var(--colour-selectedFavs,#ff2f92); !important;
}
.cssYearUnselected {
    background-color: #212121;
    color: #797979;
}
.cssColourSelected {
    color: var(--colour-selected,#ffc107);
}
.cssBackgroundColourSelected {
    background-color: var(--colour-selected,#ffc107);
}
.cssImgFavourite, .cssImgShare {
    cursor: pointer;
    pointer-events: all;
    max-height: 20px;
    margin-right: 12px;
}

.cssImgFavsMessage {
    max-height: 12px;
}
.cssMiniImage {
    max-height: 12px;
}


/* *** WHEN PHONE LANDSCAPE or wider *** */
@media (min-width: 576px) {
    .cssThumbnailImageDiv {
        width: 45%;
        max-width: 48%;
    }
}
