body {
    background-color: #212121;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.btn-dark-yellow {
    color: #ffc107;
    background-color: #0c0c0c;
    border-color: #0c0c0c;
}
.cssPointerEventsAll {
    cursor: pointer;
    pointer-events: all;
}

.form-check-input:checked {
    background-color: #ffc107;
    border-color: #ffc107;
}

.cssDivThumbName, .cssDivThumbTitle {
    font-family: "Trebuchet MS",sans-serif;
    font-size: small;
}
.cssDivThumbName {
    color: #797979;
}
.cssDivThumbTitle {
    text-align: center;
    color: #797979;
}
.cssSwitchAutoplay {
    color: #ffc107;
}
.cssFavsMessage {
    color: grey;
    font-family: "Trebuchet MS", sans-serif;
    font-size: small;
    line-height: 1;
    text-align: center;
    padding-top: 6px;
}
/* *** Initial settings for PHONE PORTRAIT *** */
.cssColVideo {
    background-color: #0c0c0c;
}
.cssVideoBottomDiv {
    /*max-height: 21px;*/
    padding-bottom: 0;
    padding-top: 4px;
}

.cssYearBtn {
    cursor: pointer;
    pointer-events: all;
    font-family: "Trebuchet MS",sans-serif;
    font-size: large;
}
.cssYearBtnFavs {
    min-width: 3.5rem;
    text-align: center;
}
.cssThumbnailImage {
    cursor: pointer;
    pointer-events: all;
    width: 30%;
    max-width: 31%;
    margin: 1px;
}

.cssColThumbnails {
    /* gets its height set specifically */
    overflow-y: hidden;
}
.cssDivThumbnails {
    /* dont set its height so it can flex-shrink-1 to bunch thumbs */
    cursor: auto;
    overflow-y: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.cssDivYearSelect {
    /*max-height: none;*/
    /*overflow: hidden;*/
    /*padding-top: 6px;*/
}
.cssYearBtn {
    padding: 3px 6px;
    margin: 0 1px 1px 1px;
    border-radius: 4px;
}
.cssYearSelected {
    background-color: #ffc107;
    color: black;
}
.cssYearUnselected {
    background-color: #212121;
    color: #797979;
}
.cssColourSelected {
    color: #ffc107;
}
.cssBackgroundColourSelected {
    background-color: #ffc107;
}
.cssImgFavourite {
    cursor: pointer;
    pointer-events: all;
    max-height: 20px;
    margin-right: 12px;
}
.cssImgShare {
    max-height: 20px;
}
.cssMiniImage {
    max-height: 12px;
}
/* *** WHEN PHONE LANDSCAPE or wider *** */
@media (min-width: 768px) {
    .cssDivYearSelect {
        /*max-height: 100vh;*/
        /*overflow-y: auto;*/
        /*padding-top: 6px;*/
    }
    .cssThumbnailImage {
        width: 45%;
        max-width: 48%;
    }

}
