:root {
    --colour-selected: #ffc107;
}


body {
    background-color: #212121;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.btn-dark-yellow {
    color: var(--colour-selected,var(--colour-selected,#ffc107));

    background-color: #0c0c0c;
    border-color: #0c0c0c;
}
.cssPointerEventsAll {
    cursor: pointer;
    pointer-events: all;
}

.form-check-input:checked {
    background-color: var(--colour-selected,#ffc107);
    border-color: var(--colour-selected,#ffc107);
}

.cssDivThumbName {
    font-family: "Trebuchet MS",sans-serif;
    font-size: small;
    text-align: center;
    color: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cssIndexYearHeader {
    font-family: "Trebuchet MS",sans-serif;
    overflow: hidden;
    width: 100%;
}

.cssIndexYearHeader + .cssIndexYearHeader {
    display: none;
}

.cssIndexYearHeader {
    width: 100%;
    padding: 2px 0;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #c99804;
    color: black;
    pointer-events: none;
    cursor: auto;
    border-radius: 2px;
}
.cssIndexRow {
    font-size: medium;
    text-align: left;
    color: whitesmoke;
    pointer-events: all;
    cursor: pointer;
    line-height: 1;
    padding: 10px 6px;
    border-radius: 4px;
}
.cssBanding:nth-child(even){
    background:#313131;
}

.cssParaOdd {
    background-color: #212121;!important;
}
.cssParaEven {
    background-color: #313131;!important;
}



.cssDivIndexSearch {
    background-color: #212121;
    color: whitesmoke;
    width: 100%;
    padding-bottom: 4px;
}

.cssSwitchAutoplay {
    color: var(--colour-selected,#ffc107);
}
.cssFavsMessage {
    color: grey;
    font-family: "Trebuchet MS", sans-serif;
    font-size: small;
    line-height: 1;
    text-align: justify;
    padding-top: 6px;
}
/* *** Initial settings for PHONE PORTRAIT *** */
.cssColVideo {
    background-color: #0c0c0c;
}
.cssVideoBottomDiv {
    /*max-height: 21px;*/
    padding-bottom: 0;
    padding-top: 4px;
}

.cssYearBtn {
    cursor: pointer;
    pointer-events: all;
    font-family: "Trebuchet MS",sans-serif;
    font-size: large;
}
.cssYearBtnFavs {
    min-width: 3.5rem;
    text-align: center;
}
.cssThumbnailImage {
    cursor: pointer;
    pointer-events: all;
    width: 30%;
    max-width: 31%;
    margin: 1px;
}

.cssColThumbnails {
    /* gets its height set specifically */
    overflow-y: hidden;
}
.cssDivThumbnails {
    /* dont set its height so it can flex-shrink-1 to bunch thumbs */
    cursor: auto;
    overflow-y: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}
.cssDivYearSelect {
    /*max-height: none;*/
    /*overflow: hidden;*/
    /*padding-top: 6px;*/
}
.cssYearBtn {
    padding: 3px 6px;
    margin: 0 1px 1px 1px;
    border-radius: 4px;
}
.cssYearSelected {
    background-color: var(--colour-selected,#ffc107);
    color: black;
}
.cssYearUnselected {
    background-color: #212121;
    color: #797979;
}
.cssColourSelected {
    color: var(--colour-selected,#ffc107);
}
.cssBackgroundColourSelected {
    background-color: var(--colour-selected,#ffc107);
}
.cssImgFavourite {
    cursor: pointer;
    pointer-events: all;
    max-height: 20px;
    margin-right: 12px;
}
.cssImgShare {
    max-height: 20px;
}
.cssImgFavsMessage {
    max-height: 12px;
}
.cssMiniImage {
    max-height: 12px;
}

/* *** WHEN PHONE LANDSCAPE or wider *** */
@media (min-width: 768px) {
    .cssThumbnailImage {
        width: 45%;
        max-width: 48%;
    }
}
