body {
    background-color: #212121;
    overflow: hidden;
    height: 100%;
    /*100vh;*/
    max-height: 100%;
    min-height: 100%;
}
/*html {*/
/*    height: 100%;*/
/*    !*100vh;*!*/
/*    max-height: 100%;*/
/*    min-height: 100%;*/
/*}*/

.hundredpc {
    height: 100%;
    /*100vh;*/
    max-height: 100%;
    min-height: 100%;
}

.form-check-input:checked {
    background-color: #ffad00;
    border-color: #ffad00;
}

.cssDivThumbName, .cssDivThumbTitle {
    font-family: "Trebuchet MS",sans-serif;
    font-size: small;
}
.cssDivThumbName {
    color: #797979;
}
.cssDivThumbTitle {
    text-align: center;
    color: #797979;
}
.cssSwitchAutoplay {
    color: #ffad00;
}

/* *** Initial settings for PHONE PORTRAIT *** */
.cssColVideo {
    background-color: #0c0c0c;
    padding-bottom: 4px;
}
.cssVideoBottomDiv {
    /*max-height: 21px;*/
    padding-bottom: 0;
    padding-top: 4px;
    background-color: blue;
}

.cssYearBtn {
    cursor: pointer;
    pointer-events: all;
    font-family: "Trebuchet MS",sans-serif;
    font-size: large;
}
.cssYearBtnFavs {
    min-width: 3rem;
    text-align: center;
    background-color: blue;
}
.cssThumbnailImage {
    cursor: pointer;
    pointer-events: all;
    width: 30%;
    max-width: 31%;
    margin: 1px;
    /*background-color: red;*/
}

.cssColThumbnails {
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.cssDivThumbnails {
    /*height: 100vh;*/
    /*max-height: 100vh;*/
    /*overflow-y: auto;*/
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: auto;
    /*background-color: yellow;*/
}
.cssDivYearSelect {
    max-height: none;
    overflow: hidden;
    padding-top: 6px;
}
.cssYearBtn {
    padding: 3px 6px;
    margin: 0 1px 1px 1px;
    border-radius: 4px;
}
.cssYearSelected {
    background-color: #ffad00;
    color: black;
}
.cssYearUnselected {
    background-color: #212121;
    color: #797979;
}

.cssImgFavourite {
    cursor: pointer;
    pointer-events: all;
    max-height: 20px;
    padding-right: 6px;
}

/* *** WHEN PHONE LANDSCAPE or wider *** */
@media (min-width: 768px) {
    .cssDivYearSelect {
        max-height: 100vh;
        overflow-y: auto;
        padding-top: 6px;
    }
    .cssThumbnailImage {
        width: 45%;
        max-width: 48%;
    }

}
